@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');


.end{
    width: 1440px;
    height: 362px;
    position: absolute;
    top: 2451px;
    left: 1px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #F8F8F8;
}
#truck{
    width: 161px;
    height: 125px;
    position: absolute;
    top: 123px;
    left: 104px;
}
#details{
    width: 94px;
    height: 27px;
    position: absolute;
    top: 84px;
    left: 475px;
    color: #0E2368;
    font-family: "Source+Sans+3";
    font-weight: 600;
    font-size: 18.84px;
    line-height: 27.22px;
    letter-spacing: 3%;
}
#address{
    width: 217px;
    height: 69px;
    position: absolute;
    top: 125px;
    left: 476px;
    color: #646874;
    font-family: "Source+Sans+3";
    font-weight: 400;
    font-size: 14.66px;
    line-height: 23.03px;
}
#mail{
    width: 232px;
    height: 23px;
    position: absolute;
    top: 209px;
    left: 476px;
    color: #646874;
    font-family: "Source+Sans+3";
    font-weight: 400;
    font-size: 14.66px;
    line-height: 23.03px;   
}
#phone{
    width: 100px;
    height: 23px;
    position: absolute;
    top: 247px;
    left: 476px;
    color: #646874;
    font-family: "Source+Sans+3";
    font-weight: 400;
    font-size: 14.66px;
    line-height: 23.03px;   
}
#more{
    width: 43px;
    height: 27px;
    position: absolute;
    top: 84px;
    left: 899px;
    color: #0E2368;
    font-family: "Source+Sans+3";
    font-weight: 600;
    font-size: 18.84px;
    line-height: 27.22px;
    letter-spacing: 3%;
}
#us{
    width: 75px;
    height: 26px;
    position: absolute;
    top: 125px;
    left: 899px;
    color: #646874;
    font-family: "Source+Sans+3";
    font-weight: 400;
    font-size: 14.66px;
    line-height: 27.22px;
}
#product{
    width: 153px;
    height: 26px;
    position: absolute;
    top: 165px;
    left: 899px;
    color: #646874;
    font-family: "Source+Sans+3";
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
}
#career{
    width: 86px;
    height: 26px;
    position: absolute;
    top: 205px;
    left: 899px;
    color: #646874;
    font-family: "Source+Sans+3";
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
}
#contact{
    width: 94px;
    height: 26px;
    position: absolute;
    top: 244px;
    left: 899px;
    color: #646874;
    font-family: "Source+Sans+3";
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
}
#social{
    width: 129px;
    height: 27px;
    position: absolute;
    top: 84px;
    left: 1208px;
    color: #0E2368;
    font-family: "Source+Sans+3";
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 3%;
}
#insta{
    width: 21px;
    height: 21px;
    position: absolute;
    top: 132px;
    left: 1208px;
}
#twitter{
    width: 69px;
    height: 21px;
    position: absolute;
    top: 132px;
    left: 1236px;
}
#facebook{
    width: 21px;
    height: 21px;
    position: absolute;
    top: 132px;
    left: 1317px;
}
@media only screen and (max-width: 375px) {
    .end{
        position: absolute;
        top: 3551px;
        left: 1px; 
        display: flex;
        flex-direction: column;
    }
    
}